@model RentCarApp.Models.Concretes.Sirket
@{
    ViewBag.Title = "SirketKayit";
}

<h2>Kullanıcı Kayıtı</h2>

@using (Html.BeginForm("SirketKayit", "Sirket", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Yeni Hesap Oluştur.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.SirketAdi, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SirketAdi, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sehir, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sehir, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
        @Html.LabelFor(m => m.Adres, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Adres, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AracSayisi, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AracSayisi, new { @class = "form-control" })
        </div>
    </div>

        <div class="form-group">
        @Html.LabelFor(m => m.SirketKullaniciAdi, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SirketKullaniciAdi, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SirketSifre, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.SirketSifre, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <span style="font-size:large;">Üye misin?, Hemen <a href="@Url.Action("SirketGiris","Sirket")">Giriş Yap</a></span>
    </div>
}