@using RentCarApp.Models.Concretes
@{ ViewBag.Title = "Sirket Sayfasi";
    Customers musteri = (Customers)Session["Musteri"];
    List<Arac> arac = (List<Arac>)Session["Arac"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSS/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/calender.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <h2>Araç Listesi</h2>
    <h2>Hoşgeldin @musteri.Ad</h2>
    <div class="table-responsive">
        <table class="table table-hover m-b-0 c_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>Model</th>
                    <th>GunlukKM</th>
                    <th>Airbag</th>
                    <th>BagajHacmi</th>
                    <th>KoltukSayisi</th>
                    <th>Fiyat</th>
                    <th>Sirket</th>
                    <th>MusaitlikDurumu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in arac)
                {
    <tr>
        <td>
            <p class="">@a.Id</p>
        </td>
        <td>
            <p class="">@a.AracAdi</p>
        </td>
        <td>
            <p class="">@a.AracModeli</p>
        </td>
        <td>
            <p class="">@a.GunlukKmSiniri</p>
        </td>
        <td>
            <p class="">@a.AirBag</p>
        </td>
        <td>
            <p class="">@a.BagajHacmi</p>
        </td>
        <td>
            <p class="">@a.KoltukSayisi</p>
        </td>
        <td>
            <p class="">@a.GunlukFiyat</p>
        </td>
        <td>
            <p class="">@a.SirketId</p>
        </td>
        <td>
            <p class="">@a.MusaitlikDurumu</p>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
    @using (Html.BeginForm())
    {
        <div>
            <div class="form-group">
                <label class="col-md-2 control-label">Araç Id</label>
                <div class="col-md-10">
                    <input type="text" name="aracId" class="form-control" placeholder="Araç Id" />
                </div>
                <label class="col-md-2 control-label">Musteri Id</label>
                <div class="col-md-10">
                    <input type="text" name="musteriId" class="form-control" placeholder="Musteri Id" value="@musteri.Id" disabled />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="btn btn-default" value="Randevu Al" />
                </div>
            </div>
        </div>
    }
</body>
</html>